{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}
	de saison
	{{ season.number }}
	de
	{{ program.title }}
{% endblock %}

{% block body %}
	<div class="media-body">
		<h1 class="mt-0">{{ program.title }}</h1>
		{#{{ dump(episode.id) }}#}
		<h3>Saison
			{{ season.number }}</h3>
		Episode
		<h3>{{ episode.number }}</h3>
		-
		<p>{{ episode.synopsis }}</p>

		<a href="{{ path('app_comment_index') }}">Voir les commentaire</a>
	{% endblock %}
