{% extends 'base.html.twig' %}

{% block title %}Season #{{ season.number }}
{% endblock %}

{% block body %}
	<div class="media">
		<div class="media-body">
			{{ season.program.title }}<br>
			Saison
			{{ season.number }}<br>
			{{ season.year }}<br>

			{% for episode in season.episodes %}<br>
				<a href="{{ path("program_episode_show", {programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug }) }}">
					Episode n°
					{{ episode.number }}</a><br>
			{% endfor %}
		</div>
	</div>
{% endblock %}
